.msg_other_img_div img{
    display: inline-block;width:100%;
}
.msg_myself_img_div img{
    display: inline-block;width:100%;
}
.msg_other_img_div {
    padding: 8px;
    width: 40%;
    text-align: left;
    background-color: #fff;
    display: inline-block;
}

.msg_myself_img_div {
    width: 40%;
    padding: 8px;
    text-align: left;
    background-color: #1aad19;
    color: #fff;
    display: inline-block;
}

.msg_other_text_div {
    padding: 8px;
    text-align: left;
    background-color: #fff;
    display: inline-block;
}

.msg_myself_text_div {
    padding: 8px;
    text-align: left;
    background-color: #1aad19;
    color: #fff;
    display: inline-block;
}

.msg_head_img {
    width: 40px;
    height: 40px;
}

.msg_div {
    padding: 10px
}

.weui-flex__item_5 {
    flex: 5;
}

/*
  一下是发送控制面板的样式
*/
.console {
    position: fixed;
    width: 100%;
    bottom: 0%;
}

.console .weui-flex {
    background: #fff;
    padding-top: 8px;
}

.weui-flex__item_4 {
    flex: 4
}

.console_item {
    padding: 5px 10px;
}

.console .weui-input {
    width: 100%;
    border: 1px solid #e7e7e7;
    background: #fff;
    height: 1.8rem;
    padding-left: 10px;
}

.console .weui-btn {
    padding: 0px;
    width: 100%;
}